* {
  box-sizing: border-box;
}

body {
  background-color: honeydew;
  margin: 0px;
}

/*header e nav*/

header {
  margin-bottom: 1em;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 150px;
  margin: 1em;
  background-color: #ecc26e;
  border-radius: 100px;
  padding: 1em 3em;
}

.navButton {
  border-radius: 100px;
  background-color: #d99d25;
  border: none;
  padding: 1%;
  height: 50%;
  font-size: 1.25em;
}

.centreButton {
  display: flex;
  align-items: center;
  height: 75%;
  font-size: 1.5em;
}

nav img {
  max-height: 75px;
}

/*sections*/

section {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

/*section 1 cards*/

.card {
  width: 450px;
  max-width: 100%;
  border-radius: 150px;
  background-color: #ecc26e;
  box-shadow: 2px 2px 6px 0px rgbs(0, 0, 0, 0.3);

  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: inline-block;
  overflow: hidden;
}

.card img {
  max-width: 100%;
  z-index: 1;
}

.card .textCard {
  text-align: center;
}

.textCard > div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(170, 116, 17);
  font-size: 1.25em;
}

.textCard .info,
.textCard .cost {
  flex-grow: 0.1;
  padding: 0.5em 0em;
}

.textCard .info div {
  display: inline-block;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.cardButton {
  border-radius: 100px;
  background-color: #d99d25;
  border: none;
  padding: 1%;
}

/*section 2 articoli*/

.item {
  width: 450px;
  max-width: 100%;
  border-radius: 10px;
  background-color: #ecc26e;
  box-shadow: 2px 2px 6px 0px rgbs(0, 0, 0, 0.3);
  padding: 1em;
  margin: 1em;
}

.item img {
  max-width: 100%;
}

.item .textArticle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
